<div nz-row class="bg">
    <div nz-col [nzSpan]="16" nzOffset="4" class="slider">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8">
                <div class="slider__left">
                    <img src="../../assets/img/slider2.png" alt="" class="slider__img">
                    <h4 class="slider__text">Clothing & Shoes</h4>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="slider__center">
                    <img src="../../assets/img/slider1.png" alt="" class="slider__img">
                    <h4 class="slider__text">Home & Living</h4>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="slider__rigth">
                    <img src="../../assets/img/slider3.png" alt="" class="slider__img">
                    <h4 class="slider__text">Art & Collectibles</h4>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="16" nzOffset="4" class="slider">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="6">
                <div class="slider__product1">
                    <div class="slider__iconLike"> <span nz-icon nzType="heart" nzTheme="outline">o</span></div>
                    <img src="../../assets/img/silder4.png" alt="" class="slider__img-product">
                    <div class="slider__product1-body">
                        <h4 class="color">Colors</h4>
                        <div class="color1"></div>
                        <div class="color2"></div>
                        <div class="color3"></div>
                        <div class="color4"></div>
                        <div class="color5"></div>
                        <div class="color6"></div>
                        <div class="color7"></div>
                        <h3 class="slider__desc">Vonna Neva Walnut Sandalye Chair</h3>
                        <h3 class="slider__price">195,13 $</h3>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div class="slider__product2">
                    <div class="slider__iconLike"> <span nz-icon nzType="heart" nzTheme="outline">o</span></div>
                    <img src="../../assets/img/slider5.png" alt="" class="slider__img-product">
                    <div class="slider__product1-body">
                        <h4 class="color">Colors</h4>
                        <div class="color1"></div>
                        <div class="color2"></div>
                        <div class="color3"></div>
                        <div class="color4"></div>
                        <div class="color5"></div>
                        <div class="color6"></div>
                        <div class="color7"></div>
                        <h3 class="slider__desc">Vonna Neva Walnut Sandalye Chair</h3>
                        <h3 class="slider__price">195,13 $</h3>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div class="slider__product3">
                    <div class="slider__iconLike"> <span nz-icon nzType="heart" nzTheme="outline">o</span></div>
                    <img src="../../assets/img/slider6.png" alt="" class="slider__img-product">
                    <div class="slider__product1-body">
                        <h4 class="color">Colors</h4>
                        <div class="color1"></div>
                        <div class="color2"></div>
                        <div class="color3"></div>
                        <div class="color4"></div>
                        <div class="color5"></div>
                        <div class="color6"></div>
                        <div class="color7"></div>
                        <h3 class="slider__desc">Vonna Neva Walnut Sandalye Chair</h3>
                        <h3 class="slider__price">195,13 $</h3>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="6">
                <div class="slider__product4">
                    <div class="slider__iconLike"> <span nz-icon nzType="heart" nzTheme="outline">o</span></div>
                    <img src="../../assets/img/slider7.png" alt="" class="slider__img-product">
                    <div class="slider__product1-body">
                        <h4 class="color">Colors</h4>
                        <div class="color1"></div>
                        <div class="color2"></div>
                        <div class="color3"></div>
                        <div class="color4"></div>
                        <div class="color5"></div>
                        <div class="color6"></div>
                        <div class="color7"></div>
                        <h3 class="slider__desc">Vonna Neva Walnut Sandalye Chair</h3>
                        <h3 class="slider__price">195,13 $</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-col [nzSpan]="16" nzOffset="4" class="slider">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="8">
                <div class="slider__blog">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzSpan]="15">
                            <h2 class="slider__blog-text">A community <br />
                                doing good</h2>
                            <h3 class="slider__blog-desc">Commerce is a global online marketplace, where people.</h3>
                        </div>
                        <div nz-col [nzSpan]="9">
                            <img src="../../assets/img/slider_blog1.png" alt="" class="slider__img-blog">
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="slider__blog">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzSpan]="15">
                            <h2 class="slider__blog-text">A community <br />
                                doing good</h2>
                            <h3 class="slider__blog-desc">Commerce is a global online marketplace, where people.</h3>
                        </div>
                        <div nz-col [nzSpan]="9">
                            <img src="../../assets/img/slider_blog2.png" alt="" class="slider__img-blog">
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div class="slider__blog">
                    <div nz-row [nzGutter]="16">
                        <div nz-col [nzSpan]="15">
                            <h2 class="slider__blog-text">A community <br />
                                doing good</h2>
                            <h3 class="slider__blog-desc">Commerce is a global online marketplace, where people.</h3>
                        </div>
                        <div nz-col [nzSpan]="9">
                            <img src="../../assets/img/slider_blog3.png" alt="" class="slider__img-blog">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>